# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
venv/
env/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Images
data/raw/images/*
data/raw/labels/*
data/preprocessed/*
data/augmented/*
data/TumorDetectionYolov8


# Config files
config.json
